html {
	scroll-behavior: smooth;
	background-color: rgb(39, 39, 39);
}

body {
	background-color: var(--white);
	color: var(--black);
	font-family: var(--font-family);
	text-wrap: balance;
}

img {
	display: block;
}

h2 {
	font-weight: 600;
	font-size: 32px;
	line-height: 140%;
	text-transform: capitalize;
}

h3 {
	font-weight: 700;
	font-size: 16px;
	line-height: 140%;
	text-transform: capitalize;
}

a {
	color: var(--black);
}
