@mixin mediaBg() {
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	    @content;
    }
}

@mixin tablet () {
    @media (max-width: 1220px) {
		@content;
	}
}

@mixin mobile () {
    @media (max-width: 820px) {
		@content;
	}
}

@mixin flex-center {
	display: flex;
	align-items: center;
}

@mixin flex-center-spaceBetween {
	@include flex-center;
	justify-content: space-between;
}