.account {
    @include flex-center;
    column-gap: 24px;

    a {
        display: flex;
        transition: all 0.3s ease-in-out;

        &:hover {
            background: var(--neutral-grayededed);
        }
    }

    @include tablet {
        column-gap: 12px;
    }

    &__menu {
        display: none;

        @include mobile {
            display: block;
        }
    }

    &__person {
        @include mobile {
            display: none;
        }
    }
}
