.card-collection {
    position: relative;

    a {
        position: absolute;
        bottom: 16px;
        right: 16px;

        @include mobile {
            position: relative;
            bottom: 0;
            right: 0;
        }
    }

    @include mobile {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
}