.collection {
    &__title {
        margin-bottom: 24px;
    }

    &__cols {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 24px;
    }

    &__col {
        display: flex;
        flex-direction: column;
        row-gap: 64px;
        justify-content: space-between;
    }

    @include mobile {
        &__title {
            margin-bottom: 12px;
        }

        &__cols {
            column-gap: 16px;
        }

        &__col {
            row-gap: 44px;
        }
    }

    @include mobile-sm {
        &__title {
            margin-bottom: 8px;
        } 

        &__col {
            row-gap: 24px;
        }
    }
}
